<div class="page">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="container">
    <div *ngIf="isLoaded === true && orderDetails.length > 0">
      <table mat-table [dataSource]="dataSource" class="table">
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column.columnDef"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ column.header }}
          </th>
          <div *ngIf="column.columnDef !== 'actions'">
            <td mat-cell *matCellDef="let row">
              {{ column.cell(row) }}
            </td>
          </div>
          <div *ngIf="column.columnDef === 'actions'">
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                color="primary"
                title="Usuń"
                (click)="deleteCartItem(row)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </div>
          <td mat-footer-cell *matFooterCellDef>{{ column.footer }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <br /><mat-divider></mat-divider><br />
    <mat-card>
      <div class="summary" *ngIf="orderDetails.length > 0">
        <div class="summary-price">
          <h1>Do zapłaty</h1>
          <br />
          <p class="price">{{ totalCost }} PLN</p>
        </div>
        <div class="summary-form">
          <h2>Adres dostawy</h2>
          <form class="form" (ngSubmit)="onOrderSubmit()">
            <mat-form-field>
              <input
                matInput
                placeholder="Imię"
                [(ngModel)]="name"
                name="name"
                (change)="validateForm()"
                required
              />
              <mat-error> Proszę wprowadzić imię </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Nazwisko"
                [(ngModel)]="surname"
                name="surname"
                (change)="validateForm()"
                required
              />
              <mat-error> Proszę wprowadzić nazwisko </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Adres email"
                [(ngModel)]="email"
                name="email"
                (change)="validateForm()"
                required
              />
              <mat-error> Proszę wprowadzić adres email </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Numer telefonu"
                [(ngModel)]="phoneNumber"
                name="phoneNumber"
                (change)="validateForm()"
                required
              />
              <mat-error> Proszę wprowadzić numer telefonu </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Ulica i numer budynku"
                [(ngModel)]="address"
                name="address"
                (change)="validateForm()"
                required
              />
              <mat-error> Proszę wprowadzić ulicę i numer budynku </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Miasto"
                [(ngModel)]="city"
                name="city"
                (change)="validateForm()"
                required
              />
              <mat-error> Proszę wprowadzić nazwę miejscowości </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Kod pocztowy"
                [(ngModel)]="postalCode"
                name="postalCode"
                (change)="validateForm()"
                required
              />
              <mat-error> Proszę wprowadzić kod pocztowy </mat-error>
            </mat-form-field>
            <button
              class="button"
              mat-raised-button
              color="primary"
              [disabled]="isPayActionDisabled"
            >
              Zapłać
            </button>
          </form>
        </div>
      </div>
    </mat-card>
    <div *ngIf="orderDetails.length === 0">
      <p class="empty">Brak produktów w koszyku</p>
    </div>
  </div>
</div>
