.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  margin-top: 60px;
  height: calc(100% - 60px);
  z-index: 1;
}

.products {
  height: 100%;
  width: 100%;
}

.empty {
  text-align: center;
  justify-content: center;
  font-size: larger;
  color: white;
  margin-top: 50px;
}

.table {
  width: 100%;
}
