<div class="container">
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="sidenav" mode="side" opened="true">
      <mat-label>Kategoria</mat-label>
      <mat-radio-group class="category-radio-group">
        <mat-radio-button class="category-radio-button" (change)="onChange($event)" value="Wszystko" checked="true">
          Wszystko
        </mat-radio-button>
        <mat-radio-button class="category-radio-button" *ngFor="let category of _categories" (change)="onChange($event)"
          [value]="category.categoryName">
          {{ category.categoryName }}
        </mat-radio-button>
      </mat-radio-group>
      <form class="form">
        <mat-form-field class="form-field">
          <mat-label>Cena od</mat-label>
          <input matInput type="number" [(ngModel)]="minPrice" name="valueInput" />
          <button *ngIf="minPrice" matSuffix mat-icon-button aria-label="Clear" (click)="minPrice = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Cena do</mat-label>
          <input matInput type="number" [(ngModel)]="maxPrice" name="value2Input" />
          <button *ngIf="maxPrice" matSuffix mat-icon-button aria-label="Clear" (click)="maxPrice = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="form-field-search">
          <mat-label>Wyszukaj</mat-label>
          <input matInput type="text" [(ngModel)]="query" name="queryInput" />
        </mat-form-field>
        <button class="search-bar-button" mat-flat-button color="primary" (click)="searchFunction()">
          Wyszukaj
        </button>
        <button class="search-bar-button" mat-flat-button color="primary" (click)="clearFunction()">
          Wyczyść
        </button>
        <!-- <div *ngIf="currentCategory === 'Wszystko' && query===''">
          <app-pager [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChanged($event)">

          </app-pager>
        </div> -->
      </form>
      <mat-paginator
            [length]="totalPages"
            [pageSize]="2"
            aria-label="Select page">
      </mat-paginator>
      
      <!--
      <div *ngFor="let item of items | search:'id,text':query">{{item.text}}</div> -->
    </mat-drawer>

    <div id="productDiv" *ngIf="products.length > 0" class="products-table">
      <div *ngFor="let product of products">
        <div *ngIf="product.name.includes(query)">
          <div *ngIf="minPrice && maxPrice; else elseif1">
            <div
              *ngIf="product.unitPrice >= convertStrToNumber(minPrice) && product.unitPrice <= convertStrToNumber(maxPrice)">
              <app-product-card [hidden]="false" [id]='product.name' [product]='product'>
              </app-product-card>
            </div>
          </div>
          <ng-template #elseif1>
            <div *ngIf="minPrice; else elseif2">
              <div *ngIf="product.unitPrice >= convertStrToNumber(minPrice)">
                <app-product-card [hidden]="false" [id]='product.name' [product]='product'>
                </app-product-card>
              </div>
            </div>
          </ng-template>
          <ng-template #elseif2>
            <div *ngIf="maxPrice; else elseif3">
              <div *ngIf="product.unitPrice <= convertStrToNumber(maxPrice)">
                <app-product-card [hidden]="false" [id]='product.name' [product]='product'>
                </app-product-card>
              </div>
            </div>
          </ng-template>
          <ng-template #elseif3>
            <app-product-card [hidden]="false" [id]='product.name' [product]='product'>
            </app-product-card>
          </ng-template>
        </div>
      </div>
    </div>

    <div *ngIf="products.length == 0" class="empty">
      <p>Brak produktów</p>
    </div>
  </mat-drawer-container>
</div>