<mat-drawer-container class="products-and-sidenav" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <section class="example-section">
      <span class="example-list-section">
        Kategorie
        <ul>
          <li>
            <mat-radio-button (change)="onChange($event)" value="Wszystko" checked="true">
              Wszystko
            </mat-radio-button>
          </li>
          <li *ngFor="let category of _categories">
            <mat-radio-button (change)="onChange($event)" value="{{category.categoryName}}">
              {{category.categoryName}}
            </mat-radio-button>
          </li>
        </ul>
      </span>
    </section>
    <form class="example-form">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Cena od</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Cena do</mat-label>
        <input matInput type="text" [(ngModel)]="value2">
        <button *ngIf="value2" matSuffix mat-icon-button aria-label="Clear" (click)="value2=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>


  </mat-drawer>


  <div *ngIf="products.length > 0" class="products-table">
    <div *ngFor="let product of products">
      <app-product-card [name]="product.name" [price]="product.unitPrice" [image]="product.image"
        [des]="product.description" [concentration]="product.concentration" [size]="product.size">
      </app-product-card>
    </div>
  </div>
  <div *ngIf="products.length == 0" class="products-table">
    <p>Brak produktów</p>
  </div>
</mat-drawer-container>