<div class="dialog">
  <h1 mat-dialog-title>Dodaj nowy produkt</h1>
  <mat-dialog-content>
    <mat-divider inset></mat-divider>
    <form #registerForm="ngForm" (ngSubmit)="addProduct()">
      <mat-form-field>
        <input
          matInput
          placeholder="Nazwa"
          [(ngModel)]="newProduct.name"
          id="name"
          name="name"
          required
        />
        <mat-error> Proszę wprowadzić poprawną nazwę produktu </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Cena"
          [(ngModel)]="newProduct.unitPrice"
          id="unitPrice"
          name="unitPrice"
          required
        />
        <mat-error> Proszę wprowadzić poprawną cenę </mat-error>
      </mat-form-field>
      <label>Kategoria</label>
      <mat-radio-group
        class="category-radio-group"
      >
        <mat-radio-button
          class="category-radio-button"
          *ngFor="let category of categories"
          (change)="onChange($event)"
          [value]="category.categoryName"
        >
          {{ category.categoryName }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input
          matInput
          placeholder="Opis"
          [(ngModel)]="newProduct.description"
          id="description"
          name="description"
          required
        />
        <mat-error> Proszę wprowadzić poprawny opis </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Pojemność"
          [(ngModel)]="newProduct.size"
          id="size"
          name="size"
          required
        />
        <mat-error> Proszę wprowadzić poprawną pojemność </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Stężenie"
          [(ngModel)]="newProduct.concentration"
          id="concentration"
          name="concentration"
          required
        />
        <mat-error> Proszę wprowadzić poprawne stężenie </mat-error>
      </mat-form-field>
      <div>
        <input
          id="file-upload"
          type="file"
          placeholder="Zdjęcie"
          (change)="fileChanged($event)"
          accept="image/*"
          #imageInput
        />
      </div>

      <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit">
          Dodaj produkt
        </button>
        <button mat-button mat-dialog-close>Anuluj</button>
      </div>
    </form>
  </mat-dialog-content>
</div>
