mat-dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: max-content;
}

mat-form-field {
  width: 100%;
}

.category-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.category-radio-button {
  margin: 5px;
}