<div class="container">
  <mat-card>
    <mat-card-subtitle>404</mat-card-subtitle>
    <mat-card-title>Błąd</mat-card-title>
    <mat-card-content>
      <p>Nie mogliśmy odnaleźć szukanej strony</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button routerLink="/login">Zaloguj się</button>
      <button mat-button routerLink="/products">Strona główna</button>
    </mat-card-actions>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card>
</div>
