<div class="container">
  <table *ngIf="products.length > 0" mat-table [dataSource]="dataSource" class="table">
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
      <div *ngIf="column.columnDef !== 'actionEdit'">
          <td mat-cell *matCellDef="let row">
            {{ column.cell(row) }}
          </td>
      </div>
      <div *ngIf="column.columnDef === 'actionEdit'">
          <td mat-cell *matCellDef="let row">
              <button mat-flat-button color="accent" (click)="openDialog(row)">Edytuj
              </button>
          </td>
      </div>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
  <div class="floating-button">
    <button mat-raised-button color="primary" (click)="openDialog(null)">
      Dodaj Produkt
    </button>
  </div>
  <div *ngIf="products.length == 0">
    <p class="empty">Brak produktów</p>
  </div>
</div>
