::ng-deep .snack-success{
    background-color:rgb(46, 139, 28);
    color: rgb(82, 82, 82);
}

::ng-deep .snack-failure{
    background-color:rgb(247, 63, 63);
    color: black;
}

::ng-deep .snack-info{
    background-color:rgb(153, 29, 77);
    color: rgb(82, 82, 82);
}