<mat-toolbar>
    <span>Alco Shop</span>
    <mat-form-field class="searching">
        <input matInput type="text" placeholder="Search...">
        <button mat-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleLogin()">
            <span>{{loginLogoutLabel}}</span>
        </button>
        <button mat-menu-item>
            <span>Moje konto</span>
        </button>
    </mat-menu>
</mat-toolbar>