<div class="container">
  <mat-card>
    <mat-card-content>
      <form #registerForm="ngForm" (ngSubmit)="registerUser()">
        <div class="header">
          <img class="logo" src="../../../assets/logo.png">
          <span class="company">Alco Shop</span>
        </div>
        <mat-divider inset></mat-divider>
        <h1 class="label">Utwórz nowe konto</h1>
        <mat-form-field>
          <input
            matInput
            placeholder="Imię"
            [(ngModel)]="user.name"
            id="firstName"
            name="firstName"
            required
          />
          <mat-error> Proszę wprowadzić poprawne imię </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Nazwisko"
            [(ngModel)]="user.surname"
            id="lastName"
            name="lastName"
            required
          />
          <mat-error> Proszę wprowadzić poprawne nazwisko </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            type="phone"
            matInput
            placeholder="Numer Telefonu"
            [(ngModel)]="user.phone"
            id="phone"
            name="phone"
            required
          />
          <mat-error> Proszę wprowadzić poprawny numer telefonu </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            [(ngModel)]="user.email"
            id="username"
            name="username"
            required
          />
          <mat-error> Proszę wprowadzić poprawny adres email </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Hasło"
            [(ngModel)]="user.password"
            id="password"
            name="password"
            required
          />
          <mat-error> Hasło musi składać się z conajmniej 8 znaków </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Potwierdź hasło"
            [(ngModel)]="cpassword"
            id="cpassword"
            name="cpassword"
            required
          />
          <mat-error> Wprowadzone hasła nie są takie same </mat-error>
        </mat-form-field>
        <button class="button" mat-raised-button color="primary">
          Utwórz konto
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
